.venv/
.uv-cache/
.DS_Store
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
runs/
report/*.aux
report/*.log
report/*.out
report/*.xdv
report/*.nav
report/*.snm
report/*.toc
report/*.vrb
report/missfont.log
